In [2]:
import matplotlib as plt
import pandas as pd
import numpy as np
from math import sqrt
from statistics import mean
from numpy import array
import numpy as np

In [3]:
df = pd.read_csv('../data_utf_8/BGCON_CUST_DATA_utf_8_extract.txt', index_col=0)
df.columns

Index(['DIVIDED_SET', 'SIU_CUST_YN', 'SEX', 'AGE', 'RESI_COST',
       'RESI_TYPE_CODE', 'FP_CAREER', 'CUST_RGST', 'CTPR', 'OCCP_GRP_1',
       'OCCP_GRP_2', 'TOTALPREM', 'MINCRDT', 'MAXCRDT', 'WEDD_YN',
       'MATE_OCCP_GRP_1', 'MATE_OCCP_GRP_2', 'CHLD_CNT', 'LTBN_CHLD_AGE',
       'MAX_PAYM_YM', 'MAX_PRM', 'CUST_INCM', 'RCBASE_HSHD_INCM',
       'JPBASE_HSHD_INCM'],
      dtype='object')

In [4]:
df_DIVIDED_SET = df["DIVIDED_SET"] 
df_SEX = df["SEX"]
df_AGE = df["AGE"]
df_RESI_COST = df["RESI_COST"]
df_RESI_TYPE_CODE = df["RESI_TYPE_CODE"]
df_FP_CAREER = df["FP_CAREER"]
df_CUST_RGST = df["CUST_RGST"]
df_CTPR = df["CTPR"]
df_OCCP_GRP_1 = df["OCCP_GRP_1"]
df_OCCP_GRP_2 = df["OCCP_GRP_2"]
df_TOTALPREM = df["TOTALPREM"]
df_MINCRDT = df["MINCRDT"]
df_MAXCRDT = df["MAXCRDT"]
df_WEDD_YN = df["WEDD_YN"]
df_MATE_OCCP_GRP_1 = df["MATE_OCCP_GRP_1"]
df_MATE_OCCP_GRP_2 = df["MATE_OCCP_GRP_2"]
df_CHLD_CNT = df["CHLD_CNT"]
df_LTBN_CHLD_AGE = df["LTBN_CHLD_AGE"]
df_MAX_PAYM_YM = df["MAX_PAYM_YM"]
df_MAX_PRM = df["MAX_PRM"]
df_CUST_INCM = df["CUST_INCM"]
df_RCBASE_HSHD_INCM = df["RCBASE_HSHD_INCM"]
df_JPBASE_HSHD_INCM = df["JPBASE_HSHD_INCM"]


df_SIU_CUST_YN = df["SIU_CUST_YN"]

In [32]:
#for column in range(0, 10):
#    if column not in [6]:
#        df[names[column]] = df[names[column]].astype("category")

In [5]:
def variance(x):
    n = len(x)
    deviations = de_mean(x)
    return sum_of_squares(deviations) / (n - 1)

def standard_deviation(x):
    return math.sqrt(variance(x))

def de_mean(x):
    x_bar = mean(x)
    return [x_i - x_bar for x_i in x]

def sum_of_squares(v):
    return dot(v, v)

In [10]:
def correlation(x, y):
    stdev_x = standard_deviation(x)
    stdev_y = standard_deviation(y)
    if stdev_x > 0 and stdev_y > 0:
        return covariance(x, y) / stdev_x / stdev_y
    else:
        return 0 

    #4가지 선택

#x_data = df_SEX
#x_data = df_AGE
#x_data = df['FP_CAREER'].map(lambda x: 0 if x == 'N' else 1)
x_data = df_RESI_COST
df['SIU_CUST_YN'] = df['SIU_CUST_YN'].map(lambda x: 0 if x == 'N' else 1)
#correlation(x_data, y_data)

In [11]:
np.corrcoef(x_data, y_data)

array([[ 1.        , -0.04417249],
       [-0.04417249,  1.        ]])

In [12]:
df['CTPR'] = df['CTPR'].astype("category")
df['OCCP_GRP_1'] = df['OCCP_GRP_1'].astype("category")
df['OCCP_GRP_2'] = df['OCCP_GRP_2'].astype("category")
df['MATE_OCCP_GRP_1'] = df['MATE_OCCP_GRP_1'].astype("category")
df['MATE_OCCP_GRP_2'] = df['MATE_OCCP_GRP_2'].astype("category")

df.dtypes

DIVIDED_SET            int64
SIU_CUST_YN            int64
SEX                    int64
AGE                    int64
RESI_COST              int64
RESI_TYPE_CODE       float64
FP_CAREER             object
CUST_RGST            float64
CTPR                category
OCCP_GRP_1          category
OCCP_GRP_2          category
TOTALPREM            float64
MINCRDT              float64
MAXCRDT              float64
WEDD_YN               object
MATE_OCCP_GRP_1     category
MATE_OCCP_GRP_2     category
CHLD_CNT             float64
LTBN_CHLD_AGE        float64
MAX_PAYM_YM          float64
MAX_PRM              float64
CUST_INCM            float64
RCBASE_HSHD_INCM       int64
JPBASE_HSHD_INCM     float64
dtype: object

In [13]:
df1 = pd.get_dummies(df, columns=["CTPR","OCCP_GRP_1","OCCP_GRP_2","MATE_OCCP_GRP_1","MATE_OCCP_GRP_2"], drop_first = True)
df1.describe()
df1.head()

/home/leejaeho/miniconda3/envs/ml_python/lib/python3.4/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,DIVIDED_SET,SIU_CUST_YN,SEX,AGE,RESI_COST,RESI_TYPE_CODE,FP_CAREER,CUST_RGST,TOTALPREM,MINCRDT,...,MATE_OCCP_GRP_2_사무직,MATE_OCCP_GRP_2_예체능계 종사자,MATE_OCCP_GRP_2_운전직,MATE_OCCP_GRP_2_의료직 종사자,MATE_OCCP_GRP_2_자영업,MATE_OCCP_GRP_2_전문직,MATE_OCCP_GRP_2_종교인/역술인,MATE_OCCP_GRP_2_주부,MATE_OCCP_GRP_2_학생,MATE_OCCP_GRP_2_학자/연구직
CUST_ID,,,,,,,,,,,,,,,,,,,,,
1,1,0,2,47,21111,20.0,N,199910.0,146980441.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,0,1,53,40000,20.0,N,199910.0,94600109.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,1,0,1,60,0,NaN,N,199910.0,18501269.0,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,0,2,64,12861,40.0,Y,199910.0,317223657.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1,0,2,54,0,NaN,Y,199910.0,10506072.0,8.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df1.columns

Index(['DIVIDED_SET', 'SIU_CUST_YN', 'SEX', 'AGE', 'RESI_COST',
       'RESI_TYPE_CODE', 'FP_CAREER', 'CUST_RGST', 'TOTALPREM', 'MINCRDT',
       'MAXCRDT', 'WEDD_YN', 'CHLD_CNT', 'LTBN_CHLD_AGE', 'MAX_PAYM_YM',
       'MAX_PRM', 'CUST_INCM', 'RCBASE_HSHD_INCM', 'JPBASE_HSHD_INCM',
       'CTPR_경기', 'CTPR_경남', 'CTPR_경북', 'CTPR_광주', 'CTPR_대구', 'CTPR_대전',
       'CTPR_부산', 'CTPR_서울', 'CTPR_세종', 'CTPR_울산', 'CTPR_인천', 'CTPR_전남',
       'CTPR_전북', 'CTPR_제주', 'CTPR_충남', 'CTPR_충북', 'OCCP_GRP_1_2.자영업',
       'OCCP_GRP_1_3.사무직', 'OCCP_GRP_1_4.전문직', 'OCCP_GRP_1_5.서비스',
       'OCCP_GRP_1_6.제조업', 'OCCP_GRP_1_7.1차산업', 'OCCP_GRP_1_8.기타',
       'OCCP_GRP_2_2차산업 종사자', 'OCCP_GRP_2_3차산업 종사자', 'OCCP_GRP_2_고소득 전문직',
       'OCCP_GRP_2_고소득의료직', 'OCCP_GRP_2_고위 공무원', 'OCCP_GRP_2_공무원',
       'OCCP_GRP_2_교사', 'OCCP_GRP_2_교육관련직', 'OCCP_GRP_2_기업/단체 임원',
       'OCCP_GRP_2_기타', 'OCCP_GRP_2_단순 노무직', 'OCCP_GRP_2_단순 사무직',
       'OCCP_GRP_2_대학교수/강사', 'OCCP_GRP_2_법무직 종사자', 'OCCP_GRP_2_사무직',
       'OCCP_GRP_2_예체능계 종사자', 'OCCP_GRP_2_운전직', 'OCCP_GRP_2_의료직 종사자',
       'OCCP_GRP_2_자영업', 'OCCP_GRP_2_전문직', 'OCCP_GRP_2_종교인/역술인',
       'OCCP_GRP_2_주부', 'OCCP_GRP_2_학생', 'OCCP_GRP_2_학자/연구직',
       'MATE_OCCP_GRP_1_2.자영업', 'MATE_OCCP_GRP_1_3.사무직',
       'MATE_OCCP_GRP_1_4.전문직', 'MATE_OCCP_GRP_1_5.서비스',
       'MATE_OCCP_GRP_1_6.제조업', 'MATE_OCCP_GRP_1_7.1차산업',
       'MATE_OCCP_GRP_1_8.기타', 'MATE_OCCP_GRP_2_2차산업 종사자',
       'MATE_OCCP_GRP_2_3차산업 종사자', 'MATE_OCCP_GRP_2_고소득 전문직',
       'MATE_OCCP_GRP_2_고소득의료직', 'MATE_OCCP_GRP_2_고위 공무원',
       'MATE_OCCP_GRP_2_공무원', 'MATE_OCCP_GRP_2_교사', 'MATE_OCCP_GRP_2_교육관련직',
       'MATE_OCCP_GRP_2_기업/단체 임원', 'MATE_OCCP_GRP_2_기타',
       'MATE_OCCP_GRP_2_단순 노무직', 'MATE_OCCP_GRP_2_단순 사무직',
       'MATE_OCCP_GRP_2_대학교수/강사', 'MATE_OCCP_GRP_2_사무직',
       'MATE_OCCP_GRP_2_예체능계 종사자', 'MATE_OCCP_GRP_2_운전직',
       'MATE_OCCP_GRP_2_의료직 종사자', 'MATE_OCCP_GRP_2_자영업', 'MATE_OCCP_GRP_2_전문직',
       'MATE_OCCP_GRP_2_종교인/역술인', 'MATE_OCCP_GRP_2_주부', 'MATE_OCCP_GRP_2_학생',
       'MATE_OCCP_GRP_2_학자/연구직'],
      dtype='object')

In [17]:
grouped = df1['SIU_CUST_YN'].groupby(df['MATE_OCCP_GRP_1'])
#print(grouped.describe())
grouped.mean()

MATE_OCCP_GRP_1
1.주부      0.073990
2.자영업     0.123351
3.사무직     0.092691
4.전문직     0.073887
5.서비스     0.102113
6.제조업     0.089251
7.1차산업    0.089457
8.기타      0.089810
Name: SIU_CUST_YN, dtype: float64

In [143]:
#names = ["df_DIVIDED_SET", "df_SEX", "df_AGE", "df_RESI_COST", "df_RESI_TYPE_CODE", "df_FP_CAREER", "df_CUST_RGST", "df_CTPR", "df_OCCP_GRP_1", "df_OCCP_GRP_2", "df_TOTALPREM", "df_MINCRDT", "df_MAXCRDT", "df_WEDD_YN", "df_MATE_OCCP_GRP_1", "df_MATE_OCCP_GRP_2", "df_CHLD_CNT", "df_LTBN_CHLD_AGE", "df_MAX_PAYM_YM", "df_MAX_PRM", "df_CUST_INCM", "df_RCBASE_HSHD_INCM", "df_JPBASE_HSHD_INCM"]
#df[:5]
#df.dtypes