In [2]:
import matplotlib as plt
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data_utf_8/BGCON_CNTT_DATA_utf_8.txt')

In [1]:
df[:1]

NameError: name 'df' is not defined

In [8]:
df_version_cust_data = pd.read_csv('../data_utf_8/BGCON_CUST_DATA_utf_8.txt')

In [9]:
df_version_cust_data[:100]

,CUST_ID,DIVIDED_SET,SIU_CUST_YN,SEX,AGE,RESI_COST,RESI_TYPE_CODE,FP_CAREER,CUST_RGST,CTPR,...,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM
0,1,1,N,2,47,21111,20.0,N,199910.0,충북,...,Y,3.사무직,2차산업 종사자,2.0,13.0,200811.0,319718.0,4879.0,10094,11337.0
1,2,1,N,1,53,40000,20.0,N,199910.0,서울,...,Y,1.주부,주부,2.0,17.0,200012.0,341341.0,6509.0,9143,6509.0
2,3,1,N,1,60,0,NaN,N,199910.0,서울,...,N,NaN,NaN,0.0,0.0,200305.0,131300.0,4180.0,0,4180.0
3,4,1,N,2,64,12861,40.0,Y,199910.0,경기,...,N,NaN,NaN,0.0,0.0,201009.0,1493184.0,NaN,4270,5914.0
4,5,1,N,2,54,0,NaN,Y,199910.0,광주,...,Y,3.사무직,고위 공무원,3.0,19.0,200807.0,166760.0,3894.0,0,8885.0
5,6,1,N,1,62,6218,99.0,N,199910.0,충남,...,Y,1.주부,주부,1.0,34.0,201606.0,82850.0,NaN,0,6449.0
6,7,1,Y,2,60,11388,30.0,N,199910.0,서울,...,Y,NaN,NaN,1.0,26.0,200903.0,482077.0,3611.0,0,3611.0
7,8,1,N,1,57,86527,20.0,Y,199910.0,서울,...,Y,2.자영업,3차산업 종사자,1.0,21.0,200610.0,10283415.0,6465.0,12219,12063.0
8,9,1,N,1,54,22638,20.0,N,199910.0,서울,...,Y,4.전문직,공무원,1.0,13.0,200207.0,29.0,4975.0,7553,9821.0
9,12,1,N,1,58,37222,20.0,N,199910.0,서울,...,Y,4.전문직,교사,2.0,23.0,200403.0,724768.0,8780.0,10466,13858.0
10,13,1,Y,1,63,8140,50.0,N,199910.0,경기,...,Y,5.서비스,예체능계 종사자,0.0,0.0,199812.0,483850.0,NaN,4066,NaN
11,15,1,N,1,59,23055,20.0,N,199910.0,서울,...,Y,1.주부,주부,0.0,0.0,200512.0,594075.0,4362.0,6654,4362.0
12,16,1,N,2,52,6684,12.0,N,199910.0,전북,...,Y,3.사무직,사무직,0.0,0.0,201301.0,2062433.0,0.0,5285,5620.0
13,17,1,N,1,68,14027,20.0,N,199910.0,대구,...,Y,1.주부,주부,0.0,0.0,200305.0,229500.0,NaN,4538,5869.0
14,18,1,N,1,48,33333,20.0,N,199910.0,경기,...,Y,3.사무직,단순 사무직,4.0,6.0,201310.0,458095.0,5911.0,9026,10079.0
15,19,1,N,1,64,15833,20.0,N,199911.0,경기,...,Y,1.주부,주부,1.0,34.0,199907.0,300000.0,NaN,5075,6120.0
16,20,1,N,1,57,28888,20.0,N,200003.0,경기,...,Y,5.서비스,3차산업 종사자,2.0,23.0,201203.0,130000.0,6024.0,9441,9481.0
17,21,1,N,2,63,8802,11.0,N,200011.0,경북,...,Y,NaN,NaN,2.0,29.0,200708.0,112749.0,NaN,3973,3922.0
18,22,1,N,2,51,4309,12.0,Y,200102.0,경기,...,Y,2.자영업,자영업,2.0,22.0,201208.0,466370.0,3825.0,5206,10174.0
19,23,1,N,1,81,7813,40.0,N,200102.0,대구,...,Y,5.서비스,3차산업 종사자,0.0,0.0,201508.0,60690.0,NaN,1274,1379.0
20,24,1,N,2,58,1471,11.0,N,200103.0,부산,...,Y,3.사무직,사무직,1.0,35.0,200409.0,588610.0,3794.0,4534,9050.0
21,25,1,N,2,49,30000,20.0,N,200103.0,경기,...,Y,5.서비스,예체능계 종사자,2.0,15.0,200610.0,2191266.0,0.0,7591,5323.0
22,26,1,Y,2,55,15555,20.0,Y,200104.0,광주,...,Y,2.자영업,자영업,2.0,28.0,200103.0,1957263.0,3866.0,6381,9091.0
23,27,1,N,1,55,36111,20.0,N,200104.0,서울,...,Y,4.전문직,교사,2.0,29.0,200301.0,202450.0,5632.0,10707,10737.0
24,28,1,N,1,61,17777,20.0,N,200105.0,인천,...,Y,2.자영업,3차산업 종사자,1.0,29.0,201108.0,2664440.0,NaN,6889,NaN
25,29,1,N,2,39,0,NaN,N,200106.0,울산,...,Y,5.서비스,2차산업 종사자,3.0,15.0,200105.0,467400.0,3574.0,0,7331.0
26,30,1,N,2,57,4865,30.0,N,200106.0,대구,...,Y,8.기타,3차산업 종사자,0.0,0.0,200010.0,200000.0,0.0,3998,3921.0
27,31,1,N,2,54,10683,99.0,N,200106.0,부산,...,Y,NaN,NaN,2.0,27.0,200305.0,298100.0,4688.0,0,4688.0
28,32,1,N,2,52,15194,99.0,Y,200106.0,서울,...,Y,5.서비스,3차산업 종사자,4.0,22.0,200208.0,918350.0,0.0,0,4909.0
29,33,1,N,2,47,8888,20.0,N,200107.0,경남,...,Y,2.자영업,자영업,1.0,22.0,200002.0,304417.0,2858.0,0,9147.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,74,1,N,2,45,9305,20.0,N,200208.0,경기,...,Y,3.사무직,사무직,1.0,17.0,200305.0,91580.0,0.0,3962,4211.0
71,75,1,N,2,51,7092,12.0,N,200208.0,부산,...,Y,6.제조업,운전직,0.0,0.0,201103.0,255155.0,4351.0,5472,8065.0
72,76,1,N,1,53,9861,30.0,N,200208.0,인천,...,Y,1.주부,주부,3.0,21.0,199909.0,511900.0,4096.0,5969,4096.0
73,77,1,N,2,58,2704,13.0,N,200208.0,부산,...,N,NaN,NaN,0.0,0.0,200401.0,327397.0,3458.0,4731,3458.0
74,78,1,N,2,52,8611,20.0,N,200209.0,충북,...,Y,3.사무직,사무직,2.0,22.0,200906.0,388682.0,4749.0,5867,10022.0
75,79,1,Y,2,59,11409,99.0,N,200209.0,인천,...,Y,4.전문직,교사,2.0,30.0,201011.0,166601.0,0.0,0,5079.0
76,80,1,N,2,66,4722,30.0,N,200210.0,강원,...,Y,6.제조업,운전직,0.0,0.0,200603.0,217670.0,NaN,2666,2657.0
77,81,1,N,2,53,10277,20.0,N,200210.0,서울,...,Y,2.자영업,자영업,1.0,18.0,200501.0,127770.0,0.0,4700,4895.0
78,82,1,N,2,51,2196,13.0,Y,200210.0,경남,...,Y,NaN,NaN,2.0,28.0,200208.0,617900.0,0.0,4694,4694.0
79,83,1,N,2,63,0,11.0,N,200210.0,전남,...,Y,8.기타,기타,0.0,0.0,201103.0,1013719.0,NaN,0,3545.0
80,84,1,N,2,67,5689,99.0,Y,200210.0,광주,...,N,NaN,NaN,0.0,0.0,201002.0,473969.0,NaN,0,0.0
81,85,1,N,2,57,28888,20.0,Y,200211.0,서울,...,Y,4.전문직,전문직,2.0,29.0,200006.0,437600.0,0.0,7466,7328.0
82,86,1,Y,2,45,14456,99.0,N,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,200408.0,292186.0,NaN,0,NaN
83,87,1,N,2,56,8601,11.0,N,200211.0,제주,...,Y,7.1차산업,1차산업 종사자,0.0,0.0,201210.0,979025.0,3565.0,5340,7271.0
84,88,1,N,2,73,5281,11.0,Y,198110.0,경북,...,N,NaN,NaN,0.0,0.0,200105.0,95249.0,NaN,2866,2842.0
85,89,1,N,2,69,7338,12.0,Y,199703.0,경기,...,Y,5.서비스,2차산업 종사자,0.0,0.0,200307.0,27640.0,NaN,1908,2463.0
86,90,1,N,2,69,2167,12.0,Y,200111.0,광주,...,N,NaN,NaN,0.0,0.0,200410.0,1218829.0,NaN,2740,2723.0
87,91,1,N,2,69,21250,30.0,Y,199205.0,서울,...,Y,3.사무직,사무직,0.0,0.0,200009.0,44470.0,NaN,2572,3186.0
88,92,1,Y,2,68,2842,12.0,Y,199903.0,충북,...,N,NaN,NaN,0.0,0.0,200010.0,2723795.0,NaN,2714,2705.0
89,93,1,N,2,68,7777,20.0,Y,199909.0,전북,...,Y,3.사무직,사무직,1.0,35.0,200008.0,1230326.0,NaN,2583,2583.0
90,94,1,N,2,68,3949,12.0,Y,199904.0,서울,...,N,NaN,NaN,0.0,0.0,199806.0,387900.0,NaN,3527,3501.0
91,95,1,N,2,66,6666,20.0,Y,198304.0,경북,...,Y,4.전문직,공무원,0.0,0.0,201309.0,505368.0,NaN,3567,3771.0
92,96,1,N,2,65,8611,20.0,Y,199809.0,경기,...,Y,5.서비스,2차산업 종사자,1.0,26.0,200203.0,1752530.0,NaN,3323,NaN
93,98,1,N,2,64,0,NaN,Y,199206.0,인천,...,Y,8.기타,2차산업 종사자,0.0,0.0,201508.0,400000.0,NaN,0,8684.0
94,99,1,N,2,63,1589,11.0,Y,198208.0,전남,...,N,NaN,NaN,0.0,0.0,200811.0,1368844.0,NaN,3247,3226.0
95,100,1,N,2,62,4081,13.0,N,200209.0,경기,...,Y,2.자영업,자영업,0.0,0.0,200909.0,88830.0,NaN,3354,4689.0
96,101,2,NaN,2,62,16944,20.0,Y,198707.0,울산,...,N,NaN,NaN,0.0,0.0,200404.0,156640.0,NaN,8165,7905.0
97,102,1,N,2,62,8750,20.0,Y,199604.0,서울,...,Y,5.서비스,2차산업 종사자,0.0,0.0,201001.0,1458131.0,NaN,3067,2941.0
98,103,1,N,2,62,32222,20.0,Y,198406.0,경북,...,N,NaN,NaN,0.0,0.0,200001.0,343200.0,NaN,10768,10542.0
99,104,1,N,2,62,7778,12.0,Y,198904.0,인천,...,Y,6.제조업,2차산업 종사자,1.0,35.0,200908.0,357780.0,NaN,0,0.0

In [36]:
len_of_cust_data = len(df_version_cust_data["CUST_ID"])
len_of_claim_data = len(df["CUST_ID"])

In [37]:
df.insert(0, "SIU_CUST_YN","")

In [38]:
for i in range(len_of_claim_data):
    for j in range(len_of_cust_data):
        if df["CUST_ID"][i] == df_version_cust_data["CUST_ID"][j]:
            df.loc[i,("SIU_CUST_YN")] = df_version_cust_data["SIU_CUST_YN"][j]

In [39]:
df

,SIU_CUST_YN,POLY_NO,CUST_ID,CUST_ROLE,IRKD_CODE_DTAL,IRKD_CODE_ITEM,GOOD_CLSF_CDNM,CNTT_YM,CLLT_FP_PRNO,REAL_PAYM_TERM,...,EXPR_YM,EXTN_YM,LAPS_YM,PAYM_CYCL_CODE,MAIN_INSR_AMT,SUM_ORIG_PREM,RECP_PUBL,CNTT_RECP,MNTH_INCM_AMT,DISTANCE
0,N,1,2805,1,1550,10,일반종신,200306,4671.0,20,...,999912.0,NaN,NaN,1.0,50000000.0,187150.0,0.0,0.0,0.0,15.0
1,N,2,5658,1,1550,10,일반종신,200306,5900.0,15,...,999912.0,200809.0,NaN,1.0,50000000.0,118750.0,0.0,0.0,200000.0,147.0
2,Y,3,4583,1,1257,21,일반연금,200307,5778.0,5,...,999912.0,200605.0,200605.0,1.0,42000000.0,700700.0,22.0,0.0,300000.0,3.0
3,N,4,14363,1,1550,10,일반종신,200306,4553.0,15,...,999912.0,201104.0,NaN,1.0,50000000.0,102450.0,0.0,0.0,250000.0,13.0
4,N,5,1222,0,1268,18,어린이,200306,3366.0,10,...,202706.0,NaN,NaN,1.0,30000000.0,33750.0,3.0,0.0,150000.0,29.0
5,N,6,10519,2,1259,21,보장,200306,31270.0,10,...,206106.0,NaN,NaN,1.0,30000000.0,61900.0,0.0,0.0,500000.0,20.0
6,,7,12775,2,1268,17,어린이,200306,5962.0,5,...,202706.0,NaN,NaN,1.0,30000000.0,38100.0,0.0,0.0,150000.0,11.0
7,N,8,4605,1,1259,21,보장,200306,27646.0,20,...,204406.0,NaN,NaN,1.0,30000000.0,62000.0,0.0,0.0,300000.0,45.0
8,N,9,5310,1,1242,3,보장,200306,3621.0,15,...,204606.0,NaN,NaN,1.0,8000000.0,18380.0,0.0,6.0,0.0,144.0
9,N,10,21766,2,1550,10,일반종신,200306,21979.0,15,...,999912.0,200712.0,NaN,1.0,40000000.0,79240.0,0.0,0.0,400000.0,18.0
10,N,11,11278,1,1257,24,일반연금,200306,2646.0,5,...,202006.0,200806.0,NaN,1.0,18000000.0,300300.0,3.0,0.0,1000000.0,7.0
11,,12,4710,0,1234,8,일반저축,200306,28701.0,3,...,200606.0,200401.0,NaN,1.0,18000000.0,500000.0,3.0,0.0,600000.0,1.0
12,N,13,12378,1,1268,18,어린이,200306,5895.0,10,...,202706.0,200802.0,200405.0,1.0,20000000.0,22500.0,0.0,0.0,2000000.0,34.0
13,N,14,3226,1,1550,12,일반종신,200306,24414.0,20,...,999912.0,NaN,NaN,1.0,50000000.0,88250.0,1.0,0.0,220000.0,23.0
14,N,15,21004,1,1550,10,일반종신,200306,3009.0,10,...,999912.0,200410.0,200409.0,1.0,30000000.0,70840.0,0.0,0.0,0.0,2.0
15,N,16,8350,2,1268,17,어린이,200306,4020.0,5,...,202106.0,NaN,NaN,1.0,30000000.0,39800.0,0.0,0.0,0.0,9.0
16,N,17,1366,2,1259,21,보장,200306,5599.0,15,...,206806.0,NaN,NaN,1.0,30000000.0,30500.0,8.0,0.0,200000.0,14.0
17,N,18,19558,2,1268,17,어린이,200306,2374.0,5,...,202706.0,NaN,NaN,1.0,54000000.0,57780.0,0.0,0.0,300000.0,9.0
18,N,19,19425,1,1550,10,일반종신,200306,2238.0,15,...,999912.0,201205.0,NaN,1.0,50000000.0,166250.0,0.0,0.0,200000.0,17.0
19,N,20,9414,1,1270,3,변액종신,200306,23996.0,15,...,999912.0,200501.0,NaN,1.0,70000000.0,296850.0,0.0,0.0,350000.0,19.0
20,N,21,16248,1,1274,25,변액연금,200306,23744.0,5,...,202706.0,200705.0,NaN,1.0,24000000.0,400400.0,0.0,0.0,300000.0,16.0
21,,22,18466,1,1257,28,일반연금,200306,5464.0,5,...,999912.0,200711.0,NaN,1.0,60600000.0,1020720.0,0.0,0.0,1000000.0,4.0
22,N,23,18395,1,1259,21,보장,200306,23387.0,15,...,203706.0,NaN,NaN,1.0,30000000.0,90100.0,0.0,0.0,200000.0,18.0
23,N,24,17277,2,1268,17,어린이,200306,5590.0,5,...,202206.0,201307.0,NaN,1.0,30000000.0,42900.0,1.0,1.0,250000.0,5.0
24,N,25,13471,1,1550,10,일반종신,200306,5881.0,20,...,999912.0,200406.0,200405.0,1.0,70000000.0,152250.0,0.0,0.0,200000.0,0.0
25,Y,26,9742,0,1550,10,일반종신,200306,22438.0,5,...,999912.0,200501.0,NaN,1.0,25000000.0,224420.0,0.0,0.0,100000.0,9.0
26,N,27,10481,2,1263,31,보장,200306,5294.0,10,...,202306.0,NaN,NaN,1.0,20000000.0,22400.0,1.0,1.0,200000.0,9.0
27,,28,19561,2,1268,17,어린이,200306,5408.0,7,...,201906.0,201006.0,200911.0,1.0,60000000.0,66000.0,0.0,0.0,500000.0,36.0
28,N,29,2661,5,1550,10,일반종신,200306,5769.0,20,...,999912.0,NaN,NaN,0.0,20000000.0,7381560.0,0.0,0.0,200000.0,0.0
29,N,30,19560,1,1270,3,변액종신,200306,21020.0,15,...,999912.0,200511.0,NaN,1.0,50000000.0,112800.0,0.0,0.0,150000.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112980,,112740,51,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,200212.0,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112981,N,112741,15657,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112982,Y,112742,4664,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112983,N,112743,2338,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112984,N,112744,9092,2,1127,5,보장,200204,163.0,1,...,200304.0,201601.0,200209.0,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112985,N,112745,4571,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,200209.0,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112986,N,112746,11311,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,200209.0,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112987,N,112747,18094,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,200209.0,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112988,,112748,9060,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112989,N,112749,20259,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,200209.0,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112990,N,112750,4675,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,200209.0,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112991,N,112751,2295,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,200209.0,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112992,N,112752,13494,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112993,Y,112753,2379,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112994,N,112754,18027,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,1480.0,0.0,0.0,0.0,NaN
112995,N,112755,6775,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,1670.0,0.0,0.0,0.0,NaN
112996,N,112756,11235,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,1670.0,0.0,0.0,0.0,NaN
112997,N,112757,15757,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,1670.0,0.0,0.0,0.0,NaN
112998,Y,112758,13428,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,1670.0,0.0,0.0,0.0,NaN
112999,N,112759,15616,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,2130.0,0.0,0.0,0.0,NaN
113000,N,112760,18074,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,200209.0,3.0,1000000.0,2130.0,0.0,0.0,0.0,NaN
113001,N,112761,2302,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,200303.0,3.0,1000000.0,2130.0,0.0,0.0,0.0,NaN
113002,N,112762,6843,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,2130.0,0.0,0.0,0.0,NaN
113003,N,112763,20278,2,1127,5,보장,200204,163.0,1,...,200304.0,NaN,NaN,3.0,1000000.0,2130.0,0.0,0.0,0.0,NaN
113004,N,112764,6917,1,1259,19,보장,200204,29503.0,10,...,206104.0,NaN,NaN,0.0,21000000.0,3892050.0,0.0,0.0,0.0,3.0
113005,,112765,12297,1,1267,1,보장,200204,4033.0,10,...,201204.0,200205.0,NaN,1.0,10000000.0,33600.0,0.0,0.0,0.0,3.0
113006,N,112766,9296,1,1256,27,일반종신,200204,4023.0,20,...,999912.0,200602.0,200602.0,1.0,50000000.0,154250.0,0.0,0.0,0.0,8.0
113007,N,112767,20517,1,1267,1,보장,200204,4033.0,10,...,202204.0,NaN,NaN,1.0,10000000.0,90100.0,0.0,0.0,0.0,7.0
113008,N,112768,1316,1,1228,13,일반연금,200204,2309.0,10,...,999912.0,200812.0,200508.0,1.0,2461560.0,20513.0,0.0,0.0,0.0,NaN
113009,N,112769,20760,1,1259,19,보장,200204,2217.0,10,...,203104.0,NaN,NaN,1.0,10000000.0,52000.0,0.0,0.0,0.0,0.0

In [40]:
df.to_csv("plus_y_data_CNT_DATA_utf_8")