In [223]:
import matplotlib as plt
import pandas as pd
import numpy as np
from math import sqrt
from statistics import mean
from numpy import array
import numpy as np

In [224]:
df = pd.read_csv('../data_utf_8/BGCON_CUST_DATA_utf_8_extract.txt', index_col=0)

In [225]:
#df = df.dropna()

df['FP_CAREER'] = df['FP_CAREER'].map(lambda x: 0 if x == 'N' else 1)
df['SIU_CUST_YN'] = df['SIU_CUST_YN'].map(lambda x: 0 if x == 'N' else 1)
df['WEDD_YN'] = df['WEDD_YN'].map(lambda x: 0 if x == 'N' else 1)


df_DIVIDED_SET = df["DIVIDED_SET"] 
df_SEX = df["SEX"]
df_AGE = df["AGE"]
df_RESI_COST = df["RESI_COST"]
df_RESI_TYPE_CODE = df["RESI_TYPE_CODE"]
df_FP_CAREER = df["FP_CAREER"]
df_CUST_RGST = df["CUST_RGST"]
df_CTPR = df["CTPR"]
df_OCCP_GRP_1 = df["OCCP_GRP_1"]
df_OCCP_GRP_2 = df["OCCP_GRP_2"]
df_TOTALPREM = df["TOTALPREM"]
df_MINCRDT = df["MINCRDT"]
df_MAXCRDT = df["MAXCRDT"]
df_WEDD_YN = df["WEDD_YN"]
df_MATE_OCCP_GRP_1 = df["MATE_OCCP_GRP_1"]
df_MATE_OCCP_GRP_2 = df["MATE_OCCP_GRP_2"]
df_CHLD_CNT = df["CHLD_CNT"]
df_LTBN_CHLD_AGE = df["LTBN_CHLD_AGE"]
df_MAX_PAYM_YM = df["MAX_PAYM_YM"]
df_MAX_PRM = df["MAX_PRM"]
df_CUST_INCM = df["CUST_INCM"]
df_RCBASE_HSHD_INCM = df["RCBASE_HSHD_INCM"]
df_JPBASE_HSHD_INCM = df["JPBASE_HSHD_INCM"]


df_SIU_CUST_YN = df["SIU_CUST_YN"]

In [226]:
#for column in range(0, 10):
#    if column not in [6]:
#        df[names[column]] = df[names[column]].astype("category")

In [227]:
df['DIVIDED_SET'].fillna((df['DIVIDED_SET'].mean()), inplace=True)
df['SEX'].fillna((df['SEX'].mean()), inplace=True)
df['AGE'].fillna((df['AGE'].mean()), inplace=True)
df['RESI_COST'].fillna((df['RESI_COST'].mean()), inplace=True)
df['RESI_TYPE_CODE'].fillna((df['RESI_TYPE_CODE'].mean()), inplace=True)
df['FP_CAREER'].fillna((df['FP_CAREER'].mean()), inplace=True)
df['CUST_RGST'].fillna((df['CUST_RGST'].mean()), inplace=True)
df['TOTALPREM'].fillna((df['TOTALPREM'].mean()), inplace=True)
df['MINCRDT'].fillna((df['MINCRDT'].mean()), inplace=True)
df['MAXCRDT'].fillna((df['MAXCRDT'].mean()), inplace=True)
df['CHLD_CNT'].fillna((df['CHLD_CNT'].mean()), inplace=True)
df['LTBN_CHLD_AGE'].fillna((df['LTBN_CHLD_AGE'].mean()), inplace=True)
df['MAX_PAYM_YM'].fillna((df['MAX_PAYM_YM'].mean()), inplace=True)
df['MAX_PRM'].fillna((df['MAX_PRM'].mean()), inplace=True)
df['CUST_INCM'].fillna((df['CUST_INCM'].mean()), inplace=True)
df['RCBASE_HSHD_INCM'].fillna((df['RCBASE_HSHD_INCM'].mean()), inplace=True)
df['JPBASE_HSHD_INCM'].fillna((df['JPBASE_HSHD_INCM'].mean()), inplace=True)

In [228]:
# df['DIVIDED_SET']= df['DIVIDED_SET'].fillna((df['DIVIDED_SET'].mean()), inplace=True)
# df['SEX']= df['SEX'].fillna((df['SEX'].mean()), inplace=True)
# df['AGE']= df['AGE'].fillna((df['AGE'].mean()), inplace=True)
# df['RESI_COST']= df['RESI_COST'].fillna((df['RESI_COST'].mean()), inplace=True)
# df['RESI_TYPE_CODE']= df['RESI_TYPE_CODE'].fillna((df['RESI_TYPE_CODE'].mean()), inplace=True)
# df['FP_CAREER']= df['FP_CAREER'].fillna((df['FP_CAREER'].mean()), inplace=True)
# df['CUST_RGST']= df['CUST_RGST'].fillna((df['CUST_RGST'].mean()), inplace=True)
# df['TOTALPREM']= df['TOTALPREM'].fillna((df['TOTALPREM'].mean()), inplace=True)
# df['MINCRDT']= df['MINCRDT'].fillna((df['MINCRDT'].mean()), inplace=True)
# df['MAXCRDT']= df['MAXCRDT'].fillna((df['MAXCRDT'].mean()), inplace=True)
# df['CHLD_CNT']= df['CHLD_CNT'].fillna((df['CHLD_CNT'].mean()), inplace=True)
# df['LTBN_CHLD_AGE']= df['LTBN_CHLD_AGE'].fillna((df['LTBN_CHLD_AGE'].mean()), inplace=True)
# df['MAX_PAYM_YM']= df['MAX_PAYM_YM'].fillna((df['MAX_PAYM_YM'].mean()), inplace=True)
# df['MAX_PRM']= df['MAX_PRM'].fillna((df['MAX_PRM'].mean()), inplace=True)
# df['CUST_INCM']= df['CUST_INCM'].fillna((df['CUST_INCM'].mean()), inplace=True)
# df['RCBASE_HSHD_INCM']= df['RCBASE_HSHD_INCM'].fillna((df['RCBASE_HSHD_INCM'].mean()), inplace=True)
# df['JPBASE_HSHD_INCM']= df['JPBASE_HSHD_INCM'].fillna((df['JPBASE_HSHD_INCM'].mean()), inplace=True)

In [229]:
def variance(x):
    n = len(x)
    deviations = de_mean(x)
    return sum_of_squares(deviations) / (n - 1)

def standard_deviation(x):
    return math.sqrt(variance(x))

def de_mean(x):
    x_bar = mean(x)
    return [x_i - x_bar for x_i in x]

def sum_of_squares(v):
    return dot(v, v)

In [273]:
def correlation(x, y):
    stdev_x = standard_deviation(x)
    stdev_y = standard_deviation(y)
    if stdev_x > 0 and stdev_y > 0:
        return covariance(x, y) / stdev_x / stdev_y
    else:
        return 0 

    #4가지 선택

#x_data = df_SEX
#x_data = df_AGE
#x_data = df_DIVIDED_SET
#x_data = df_RESI_COST


x_data = df_JPBASE_HSHD_INCM
y_data = df['SIU_CUST_YN']
#correlation(x_data, y_data)

In [274]:
#names = ["df_DIVIDED_SET", "df_SEX", "df_AGE", "df_RESI_COST", "df_RESI_TYPE_CODE", "df_FP_CAREER", "df_CUST_RGST", "df_CTPR", "df_OCCP_GRP_1", "df_OCCP_GRP_2", "df_TOTALPREM", "df_MINCRDT", "df_MAXCRDT", "df_WEDD_YN", "df_MATE_OCCP_GRP_1", "df_MATE_OCCP_GRP_2", "df_CHLD_CNT", "df_LTBN_CHLD_AGE", "df_MAX_PAYM_YM", "df_MAX_PRM", "df_CUST_INCM", "df_RCBASE_HSHD_INCM", "df_JPBASE_HSHD_INCM"]
#df[:5]
#df.dtypes

In [275]:
np.corrcoef(x_data, y_data)

array([[ 1.        , -0.01126466],
       [-0.01126466,  1.        ]])

In [154]:
df['CTPR'] = df['CTPR'].astype("category")
df['OCCP_GRP_1'] = df['OCCP_GRP_1'].astype("category")
df['OCCP_GRP_2'] = df['OCCP_GRP_2'].astype("category")
df['MATE_OCCP_GRP_1'] = df['MATE_OCCP_GRP_1'].astype("category")
df['MATE_OCCP_GRP_2'] = df['MATE_OCCP_GRP_2'].astype("category")

df.dtypes

DIVIDED_SET           object
SIU_CUST_YN            int64
SEX                   object
AGE                   object
RESI_COST             object
RESI_TYPE_CODE        object
FP_CAREER             object
CUST_RGST             object
CTPR                category
OCCP_GRP_1          category
OCCP_GRP_2          category
TOTALPREM             object
MINCRDT               object
MAXCRDT               object
WEDD_YN                int64
MATE_OCCP_GRP_1     category
MATE_OCCP_GRP_2     category
CHLD_CNT              object
LTBN_CHLD_AGE         object
MAX_PAYM_YM           object
MAX_PRM               object
CUST_INCM             object
RCBASE_HSHD_INCM      object
JPBASE_HSHD_INCM      object
dtype: object

In [155]:
df1 = pd.get_dummies(df, columns=["CTPR","OCCP_GRP_1","OCCP_GRP_2","MATE_OCCP_GRP_1","MATE_OCCP_GRP_2"], drop_first = True)
df1.describe()
df1.head()

,DIVIDED_SET,SIU_CUST_YN,SEX,AGE,RESI_COST,RESI_TYPE_CODE,FP_CAREER,CUST_RGST,TOTALPREM,MINCRDT,...,MATE_OCCP_GRP_2_사무직,MATE_OCCP_GRP_2_예체능계 종사자,MATE_OCCP_GRP_2_운전직,MATE_OCCP_GRP_2_의료직 종사자,MATE_OCCP_GRP_2_자영업,MATE_OCCP_GRP_2_전문직,MATE_OCCP_GRP_2_종교인/역술인,MATE_OCCP_GRP_2_주부,MATE_OCCP_GRP_2_학생,MATE_OCCP_GRP_2_학자/연구직
CUST_ID,,,,,,,,,,,,,,,,,,,,,
1,None,0,None,None,None,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,None,0,None,None,None,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,None,0,None,None,None,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,None,0,None,None,None,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,None,0,None,None,None,None,None,None,None,None,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [156]:
df1.columns

Index(['DIVIDED_SET', 'SIU_CUST_YN', 'SEX', 'AGE', 'RESI_COST',
       'RESI_TYPE_CODE', 'FP_CAREER', 'CUST_RGST', 'TOTALPREM', 'MINCRDT',
       'MAXCRDT', 'WEDD_YN', 'CHLD_CNT', 'LTBN_CHLD_AGE', 'MAX_PAYM_YM',
       'MAX_PRM', 'CUST_INCM', 'RCBASE_HSHD_INCM', 'JPBASE_HSHD_INCM',
       'CTPR_경기', 'CTPR_경남', 'CTPR_경북', 'CTPR_광주', 'CTPR_대구', 'CTPR_대전',
       'CTPR_부산', 'CTPR_서울', 'CTPR_세종', 'CTPR_울산', 'CTPR_인천', 'CTPR_전남',
       'CTPR_전북', 'CTPR_제주', 'CTPR_충남', 'CTPR_충북', 'OCCP_GRP_1_2.자영업',
       'OCCP_GRP_1_3.사무직', 'OCCP_GRP_1_4.전문직', 'OCCP_GRP_1_5.서비스',
       'OCCP_GRP_1_6.제조업', 'OCCP_GRP_1_7.1차산업', 'OCCP_GRP_1_8.기타',
       'OCCP_GRP_2_2차산업 종사자', 'OCCP_GRP_2_3차산업 종사자', 'OCCP_GRP_2_고소득 전문직',
       'OCCP_GRP_2_고소득의료직', 'OCCP_GRP_2_고위 공무원', 'OCCP_GRP_2_공무원',
       'OCCP_GRP_2_교사', 'OCCP_GRP_2_교육관련직', 'OCCP_GRP_2_기업/단체 임원',
       'OCCP_GRP_2_기타', 'OCCP_GRP_2_단순 노무직', 'OCCP_GRP_2_단순 사무직',
       'OCCP_GRP_2_대학교수/강사', 'OCCP_GRP_2_법무직 종사자', 'OCCP_GRP_2_사무직',
       'OCCP_GRP_2_예체능계 종사자', 'OCCP_GRP_2_운전직', 'OCCP_GRP_2_의료직 종사자',
       'OCCP_GRP_2_자영업', 'OCCP_GRP_2_전문직', 'OCCP_GRP_2_종교인/역술인',
       'OCCP_GRP_2_주부', 'OCCP_GRP_2_학생', 'OCCP_GRP_2_학자/연구직',
       'MATE_OCCP_GRP_1_2.자영업', 'MATE_OCCP_GRP_1_3.사무직',
       'MATE_OCCP_GRP_1_4.전문직', 'MATE_OCCP_GRP_1_5.서비스',
       'MATE_OCCP_GRP_1_6.제조업', 'MATE_OCCP_GRP_1_7.1차산업',
       'MATE_OCCP_GRP_1_8.기타', 'MATE_OCCP_GRP_2_2차산업 종사자',
       'MATE_OCCP_GRP_2_3차산업 종사자', 'MATE_OCCP_GRP_2_고소득 전문직',
       'MATE_OCCP_GRP_2_고소득의료직', 'MATE_OCCP_GRP_2_고위 공무원',
       'MATE_OCCP_GRP_2_공무원', 'MATE_OCCP_GRP_2_교사', 'MATE_OCCP_GRP_2_교육관련직',
       'MATE_OCCP_GRP_2_기업/단체 임원', 'MATE_OCCP_GRP_2_기타',
       'MATE_OCCP_GRP_2_단순 노무직', 'MATE_OCCP_GRP_2_단순 사무직',
       'MATE_OCCP_GRP_2_대학교수/강사', 'MATE_OCCP_GRP_2_사무직',
       'MATE_OCCP_GRP_2_예체능계 종사자', 'MATE_OCCP_GRP_2_운전직',
       'MATE_OCCP_GRP_2_의료직 종사자', 'MATE_OCCP_GRP_2_자영업', 'MATE_OCCP_GRP_2_전문직',
       'MATE_OCCP_GRP_2_종교인/역술인', 'MATE_OCCP_GRP_2_주부', 'MATE_OCCP_GRP_2_학생',
       'MATE_OCCP_GRP_2_학자/연구직'],
      dtype='object')

In [157]:
grouped = df1['SIU_CUST_YN'].groupby(df['CTPR'])
#print(grouped.describe())
grouped.mean()

CTPR
강원    0.141221
경기    0.072437
경남    0.064295
경북    0.050223
광주    0.195734
대구    0.061606
대전    0.085837
부산    0.142446
서울    0.090292
세종    0.054054
울산    0.029457
인천    0.135682
전남    0.098456
전북    0.114350
제주    0.000000
충남    0.056277
충북    0.026316
Name: SIU_CUST_YN, dtype: float64

In [ ]:
df["DMND_RESN_CODE"] = df["CRNT_PROG_DVSN"].map(lambda x : 100 if x == 2 or x == 4 else x)   

df["DMND_RESN_CODE"].fillna((df["DMND_RESN_CODE"].mean()), inplace=True)




x_data_4 = df["DMND_RESN_CODE"]

np.corrcoef(x_data_4,y_data)

In [ ]:
Index(['SIU_CUST_YN', 'CUST_ID', 'POLY_NO', 'ACCI_OCCP_GRP1', 'ACCI_OCCP_GRP2',
       'CHANG_FP_YN', 'CNTT_RECP_SQNO', 'RECP_DATE', 'ORIG_RESN_DATE',
       'RESN_DATE', 'CRNT_PROG_DVSN', 'ACCI_DVSN', 'CAUS_CODE',
       'CAUS_CODE_DTAL', 'DSAS_NAME', 'DMND_RESN_CODE', 'DMND_RSCD_SQNO',
       'HOSP_OTPA_STDT', 'HOSP_OTPA_ENDT', 'RESL_CD1', 'RESL_NM1',
       'VLID_HOSP_OTDA', 'HOUSE_HOSP_DIST', 'HOSP_CODE', 'ACCI_HOSP_ADDR',
       'HOSP_SPEC_DVSN', 'CHME_LICE_NO', 'PAYM_DATE', 'DMND_AMT', 'PAYM_AMT',
       'PMMI_DLNG_YN', 'SELF_CHAM', 'NON_PAY', 'TAMT_SFCA', 'PATT_CHRG_TOTA',
       'DSCT_AMT', 'COUNT_TRMT_ITEM', 'DCAF_CMPS_XCPA', 'NON_PAY_RATIO',
       'HEED_HOSP_YN'],
      dtype='object')

In [158]:
grouped = df1['SIU_CUST_YN'].groupby(df['OCCP_GRP_1'])
#print(grouped.describe())
grouped.mean()

OCCP_GRP_1
1.주부      0.113130
2.자영업     0.142722
3.사무직     0.083712
4.전문직     0.053650
5.서비스     0.102534
6.제조업     0.042587
7.1차산업    0.038462
8.기타      0.063802
Name: SIU_CUST_YN, dtype: float64

In [159]:
grouped = df1['SIU_CUST_YN'].groupby(df['OCCP_GRP_2'])
#print(grouped.describe())
grouped.mean()

OCCP_GRP_2
1차산업 종사자    0.047354
2차산업 종사자    0.044816
3차산업 종사자    0.134755
고소득 전문직     0.000000
고소득의료직      0.057143
고위 공무원      0.023810
공무원         0.054054
교사          0.024691
교육관련직       0.066838
기업/단체 임원    0.084746
기타          0.063232
단순 노무직      0.095238
단순 사무직      0.096346
대학교수/강사     0.066667
법무직 종사자     0.000000
사무직         0.085444
예체능계 종사자    0.105590
운전직         0.065306
의료직 종사자     0.055215
자영업         0.133684
전문직         0.055072
종교인/역술인     0.151515
주부          0.113250
학생          0.059934
학자/연구직      0.025641
Name: SIU_CUST_YN, dtype: float64

In [160]:
grouped = df1['SIU_CUST_YN'].groupby(df['MATE_OCCP_GRP_1'])
#print(grouped.describe())
grouped.mean()

MATE_OCCP_GRP_1
1.주부      0.073990
2.자영업     0.123351
3.사무직     0.092691
4.전문직     0.073887
5.서비스     0.102113
6.제조업     0.089251
7.1차산업    0.089457
8.기타      0.089810
Name: SIU_CUST_YN, dtype: float64

In [161]:
grouped = df1['SIU_CUST_YN'].groupby(df['MATE_OCCP_GRP_2'])
#print(grouped.describe())
grouped.mean()

MATE_OCCP_GRP_2
1차산업 종사자    0.086835
2차산업 종사자    0.095273
3차산업 종사자    0.083237
고소득 전문직     0.000000
고소득의료직      0.034483
고위 공무원      0.054054
공무원         0.043860
교사          0.049180
교육관련직       0.075472
기업/단체 임원    0.138211
기타          0.108597
단순 노무직      0.054795
단순 사무직      0.060000
대학교수/강사     0.000000
사무직         0.099607
예체능계 종사자    0.045455
운전직         0.096654
의료직 종사자     0.063158
자영업         0.126351
전문직         0.097959
종교인/역술인     0.214286
주부          0.074208
학생          0.233333
학자/연구직      0.095238
Name: SIU_CUST_YN, dtype: float64