In [7]:
import matplotlib as plt
import pandas as pd
import numpy as np
from math import sqrt
from statistics import mean
from numpy import array
import numpy as np

In [8]:
df = pd.read_csv('../data_utf_8/BGCON_CUST_DATA_utf_8_extract.txt', index_col=0)

In [9]:
df['FP_CAREER'] = df['FP_CAREER'].map(lambda x: 0 if x == 'N' else 1)
df['SIU_CUST_YN'] = df['SIU_CUST_YN'].map(lambda x: 0 if x == 'N' else 1)
df['WEDD_YN'] = df['WEDD_YN'].map(lambda x: 0 if x == 'N' else 1)


df_DIVIDED_SET = df["DIVIDED_SET"] 
df_SEX = df["SEX"]
df_AGE = df["AGE"]
df_RESI_COST = df["RESI_COST"]
df_RESI_TYPE_CODE = df["RESI_TYPE_CODE"]
df_FP_CAREER = df["FP_CAREER"]
df_CUST_RGST = df["CUST_RGST"]
df_CTPR = df["CTPR"]
df_OCCP_GRP_1 = df["OCCP_GRP_1"]
df_OCCP_GRP_2 = df["OCCP_GRP_2"]
df_TOTALPREM = df["TOTALPREM"]
df_MINCRDT = df["MINCRDT"]
df_MAXCRDT = df["MAXCRDT"]
df_WEDD_YN = df["WEDD_YN"]
df_MATE_OCCP_GRP_1 = df["MATE_OCCP_GRP_1"]
df_MATE_OCCP_GRP_2 = df["MATE_OCCP_GRP_2"]
df_CHLD_CNT = df["CHLD_CNT"]
df_LTBN_CHLD_AGE = df["LTBN_CHLD_AGE"]
df_MAX_PAYM_YM = df["MAX_PAYM_YM"]
df_MAX_PRM = df["MAX_PRM"]
df_CUST_INCM = df["CUST_INCM"]
df_RCBASE_HSHD_INCM = df["RCBASE_HSHD_INCM"]
df_JPBASE_HSHD_INCM = df["JPBASE_HSHD_INCM"]


df_SIU_CUST_YN = df["SIU_CUST_YN"]

In [10]:
df['DIVIDED_SET'].fillna((df['DIVIDED_SET'].mean()), inplace=True)
df['SEX'].fillna((df['SEX'].mean()), inplace=True)
df['AGE'].fillna((df['AGE'].mean()), inplace=True)
df['RESI_COST'].fillna((df['RESI_COST'].mean()), inplace=True)
df['RESI_TYPE_CODE'].fillna((df['RESI_TYPE_CODE'].mean()), inplace=True)
df['FP_CAREER'].fillna((df['FP_CAREER'].mean()), inplace=True)
df['CUST_RGST'].fillna((df['CUST_RGST'].mean()), inplace=True)
df['TOTALPREM'].fillna((df['TOTALPREM'].mean()), inplace=True)
df['MINCRDT'].fillna((df['MINCRDT'].mean()), inplace=True)
df['MAXCRDT'].fillna((df['MAXCRDT'].mean()), inplace=True)
df['CHLD_CNT'].fillna((df['CHLD_CNT'].mean()), inplace=True)
df['LTBN_CHLD_AGE'].fillna((df['LTBN_CHLD_AGE'].mean()), inplace=True)
df['MAX_PAYM_YM'].fillna((df['MAX_PAYM_YM'].mean()), inplace=True)
df['MAX_PRM'].fillna((df['MAX_PRM'].mean()), inplace=True)
df['CUST_INCM'].fillna((df['CUST_INCM'].mean()), inplace=True)
df['RCBASE_HSHD_INCM'].fillna((df['RCBASE_HSHD_INCM'].mean()), inplace=True)
df['JPBASE_HSHD_INCM'].fillna((df['JPBASE_HSHD_INCM'].mean()), inplace=True)

In [11]:
#AGE

df['AGE'] = df['AGE'].map(lambda x:0 if x < 11 else x)
df['AGE'] = df['AGE'].map(lambda x:10 if x >10 and x<21 else x)
df['AGE'] = df['AGE'].map(lambda x:20 if x >20 and x<31 else x)
df['AGE'] = df['AGE'].map(lambda x:30 if x >30 and x<41 else x)
df['AGE'] = df['AGE'].map(lambda x:40 if x >40 and x<51 else x)
df['AGE'] = df['AGE'].map(lambda x:50 if x >50 and x<61 else x)
df['AGE'] = df['AGE'].map(lambda x:60 if x >60 and x<71 else x)
df['AGE'] = df['AGE'].map(lambda x:70 if x >70 and x<81 else x)
df['AGE'] = df['AGE'].map(lambda x:80 if x >80  else x)

grouped = df['SIU_CUST_YN'].groupby(df['AGE'])
grouped.mean()

df['AGE'] = df['AGE'].map(lambda x:100 if x == 50 else x) 
df['AGE'] = df['AGE'].map(lambda x:70 if x == 30 or x == 40 or x == 60else x) 
df['AGE'] = df['AGE'].map(lambda x:40 if x == 20 else x) 
df['AGE'] = df['AGE'].map(lambda x:0 if  x != 100 and x!=70 and x!=40  else x)

In [12]:
x_data = df_AGE
y_data = df['SIU_CUST_YN']

np.corrcoef(x_data, y_data)

array([[ 1.        ,  0.08830201],
       [ 0.08830201,  1.        ]])

In [13]:
#MAXCRDT
df['MAXCRDT']= df['MAXCRDT'].map(lambda x:80 if x==10.000000or x==9.000000else x)
df['MAXCRDT']= df['MAXCRDT'].map(lambda x:50 if x==8.000000or x==7.000000or x==2.000000 or x==4.000000 or x==5.000000else x)
df['MAXCRDT'] = df['MAXCRDT'].map(lambda x:0 if x!= 80 and x!=50  else x)

In [14]:
x_data = df_MAXCRDT
y_data = df['SIU_CUST_YN']

np.corrcoef(x_data, y_data)

array([[ 1.        ,  0.09121289],
       [ 0.09121289,  1.        ]])

In [17]:
#CTPR
df['CTPR'] = df['CTPR'].astype("category")

grouped = df['SIU_CUST_YN'].groupby(df['CTPR'])
grouped.mean()

df['CTPR'] = df['CTPR'].map(lambda x:50 if x == '강원' or x == '광주' or x == '부산' or x == '인천' or x == '전북' else x) 
df['CTPR'] = df['CTPR'].map(lambda x:30 if x == '경기' or x=='경남' or x=='경북'  or x=='대구'or x=='대전' or x=='서울' or x=='전남' else x)
df['CTPR'] = df['CTPR'].map(lambda x:0 if  x != 30 and x!=50  else x)

In [16]:
x_data = df['CTPR']
y_data = df['SIU_CUST_YN']


np.corrcoef(x_data, y_data)

array([[ 1.        ,  0.11247773],
       [ 0.11247773,  1.        ]])