In [1]:
import matplotlib as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data_utf_8/BGCON_CLAIM_DATA_utf_8.txt')

In [3]:
df_version_cust_data = pd.read_csv('../data_utf_8/BGCON_CUST_DATA_utf_8_extract.txt')

In [4]:
df_version_cust_data

,CUST_ID,DIVIDED_SET,SIU_CUST_YN,SEX,AGE,RESI_COST,RESI_TYPE_CODE,FP_CAREER,CUST_RGST,CTPR,...,WEDD_YN,MATE_OCCP_GRP_1,MATE_OCCP_GRP_2,CHLD_CNT,LTBN_CHLD_AGE,MAX_PAYM_YM,MAX_PRM,CUST_INCM,RCBASE_HSHD_INCM,JPBASE_HSHD_INCM
0,1,1,N,2,47,21111,20.0,N,199910.0,충북,...,Y,3.사무직,2차산업 종사자,2.0,13.0,200811.0,319718.0,4879.0,10094,11337.0
1,2,1,N,1,53,40000,20.0,N,199910.0,서울,...,Y,1.주부,주부,2.0,17.0,200012.0,341341.0,6509.0,9143,6509.0
2,3,1,N,1,60,0,NaN,N,199910.0,서울,...,N,NaN,NaN,0.0,0.0,200305.0,131300.0,4180.0,0,4180.0
3,4,1,N,2,64,12861,40.0,Y,199910.0,경기,...,N,NaN,NaN,0.0,0.0,201009.0,1493184.0,NaN,4270,5914.0
4,5,1,N,2,54,0,NaN,Y,199910.0,광주,...,Y,3.사무직,고위 공무원,3.0,19.0,200807.0,166760.0,3894.0,0,8885.0
5,6,1,N,1,62,6218,99.0,N,199910.0,충남,...,Y,1.주부,주부,1.0,34.0,201606.0,82850.0,NaN,0,6449.0
6,7,1,Y,2,60,11388,30.0,N,199910.0,서울,...,Y,NaN,NaN,1.0,26.0,200903.0,482077.0,3611.0,0,3611.0
7,8,1,N,1,57,86527,20.0,Y,199910.0,서울,...,Y,2.자영업,3차산업 종사자,1.0,21.0,200610.0,10283415.0,6465.0,12219,12063.0
8,9,1,N,1,54,22638,20.0,N,199910.0,서울,...,Y,4.전문직,공무원,1.0,13.0,200207.0,29.0,4975.0,7553,9821.0
9,12,1,N,1,58,37222,20.0,N,199910.0,서울,...,Y,4.전문직,교사,2.0,23.0,200403.0,724768.0,8780.0,10466,13858.0
10,13,1,Y,1,63,8140,50.0,N,199910.0,경기,...,Y,5.서비스,예체능계 종사자,0.0,0.0,199812.0,483850.0,NaN,4066,NaN
11,15,1,N,1,59,23055,20.0,N,199910.0,서울,...,Y,1.주부,주부,0.0,0.0,200512.0,594075.0,4362.0,6654,4362.0
12,16,1,N,2,52,6684,12.0,N,199910.0,전북,...,Y,3.사무직,사무직,0.0,0.0,201301.0,2062433.0,0.0,5285,5620.0
13,17,1,N,1,68,14027,20.0,N,199910.0,대구,...,Y,1.주부,주부,0.0,0.0,200305.0,229500.0,NaN,4538,5869.0
14,18,1,N,1,48,33333,20.0,N,199910.0,경기,...,Y,3.사무직,단순 사무직,4.0,6.0,201310.0,458095.0,5911.0,9026,10079.0
15,19,1,N,1,64,15833,20.0,N,199911.0,경기,...,Y,1.주부,주부,1.0,34.0,199907.0,300000.0,NaN,5075,6120.0
16,20,1,N,1,57,28888,20.0,N,200003.0,경기,...,Y,5.서비스,3차산업 종사자,2.0,23.0,201203.0,130000.0,6024.0,9441,9481.0
17,21,1,N,2,63,8802,11.0,N,200011.0,경북,...,Y,NaN,NaN,2.0,29.0,200708.0,112749.0,NaN,3973,3922.0
18,22,1,N,2,51,4309,12.0,Y,200102.0,경기,...,Y,2.자영업,자영업,2.0,22.0,201208.0,466370.0,3825.0,5206,10174.0
19,23,1,N,1,81,7813,40.0,N,200102.0,대구,...,Y,5.서비스,3차산업 종사자,0.0,0.0,201508.0,60690.0,NaN,1274,1379.0
20,24,1,N,2,58,1471,11.0,N,200103.0,부산,...,Y,3.사무직,사무직,1.0,35.0,200409.0,588610.0,3794.0,4534,9050.0
21,25,1,N,2,49,30000,20.0,N,200103.0,경기,...,Y,5.서비스,예체능계 종사자,2.0,15.0,200610.0,2191266.0,0.0,7591,5323.0
22,26,1,Y,2,55,15555,20.0,Y,200104.0,광주,...,Y,2.자영업,자영업,2.0,28.0,200103.0,1957263.0,3866.0,6381,9091.0
23,27,1,N,1,55,36111,20.0,N,200104.0,서울,...,Y,4.전문직,교사,2.0,29.0,200301.0,202450.0,5632.0,10707,10737.0
24,28,1,N,1,61,17777,20.0,N,200105.0,인천,...,Y,2.자영업,3차산업 종사자,1.0,29.0,201108.0,2664440.0,NaN,6889,NaN
25,29,1,N,2,39,0,NaN,N,200106.0,울산,...,Y,5.서비스,2차산업 종사자,3.0,15.0,200105.0,467400.0,3574.0,0,7331.0
26,30,1,N,2,57,4865,30.0,N,200106.0,대구,...,Y,8.기타,3차산업 종사자,0.0,0.0,200010.0,200000.0,0.0,3998,3921.0
27,31,1,N,2,54,10683,99.0,N,200106.0,부산,...,Y,NaN,NaN,2.0,27.0,200305.0,298100.0,4688.0,0,4688.0
28,32,1,N,2,52,15194,99.0,Y,200106.0,서울,...,Y,5.서비스,3차산업 종사자,4.0,22.0,200208.0,918350.0,0.0,0,4909.0
29,33,1,N,2,47,8888,20.0,N,200107.0,경남,...,Y,2.자영업,자영업,1.0,22.0,200002.0,304417.0,2858.0,0,9147.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20577,11063,1,N,1,6,5242,99.0,N,201106.0,전북,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0,0.0
20578,8711,1,N,1,21,25416,20.0,N,200711.0,경기,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,5876,5588.0
20579,2058,1,N,2,10,11805,30.0,N,200909.0,서울,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,3477,3438.0
20580,1699,1,N,1,17,4444,20.0,N,200312.0,전남,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,3570,3551.0
20581,15499,1,N,2,24,22084,11.0,N,201007.0,부산,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,7351,6994.0
20582,6156,1,N,1,21,8916,40.0,N,200111.0,대구,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0,0.0
20583,14826,1,N,1,21,2574,12.0,N,200306.0,대전,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,2242,4052.0
20584,12570,1,N,1,22,6816,12.0,N,200306.0,대구,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,3424,3443.0
20585,21572,1,N,1,24,11068,12.0,N,200306.0,서울,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,6986,6930.0
20586,18279,1,N,1,64,5277,30.0,N,200306.0,인천,...,Y,1.주부,주부,1.0,27.0,NaN,NaN,NaN,3106,4324.0
20587,2409,1,N,2,17,8864,40.0,N,200306.0,경기,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,4180,4266.0
20588,14389,1,N,1,44,5277,20.0,N,200306.0,전남,...,Y,3.사무직,사무직,0.0,0.0,NaN,NaN,4096.0,3567,8207.0
20589,12858,1,N,1,33,7500,20.0,N,200405.0,경북,...,N,NaN,NaN,0.0,0.0,NaN,NaN,3726.0,4017,3726.0
20590,10744,1,Y,2,15,5019,99.0,N,200512.0,강원,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0,0.0
20591,19371,1,N,1,20,12361,20.0,N,200306.0,인천,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,4228,4194.0
20592,19375,1,N,1,20,10581,12.0,N,200306.0,경기,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,3957,3915.0
20593,3561,1,Y,2,31,26666,20.0,N,200306.0,광주,...,N,NaN,NaN,0.0,0.0,NaN,NaN,3089.0,6877,3089.0
20594,19406,1,Y,2,70,4271,12.0,N,199812.0,광주,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0,0.0
20595,5926,1,N,1,22,6216,99.0,N,200306.0,전남,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0,0.0
20596,721,1,N,1,53,24722,20.0,N,200306.0,대구,...,Y,1.주부,주부,2.0,24.0,NaN,NaN,5914.0,9427,5914.0
20597,19376,1,N,2,20,14583,20.0,N,200306.0,경기,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,4618,4548.0
20598,19838,1,Y,2,28,32222,20.0,N,200701.0,경기,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,7696,5402.0
20599,21597,1,N,2,22,16666,30.0,N,200306.0,서울,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,3871,3793.0
20600,20276,1,Y,1,56,1298,13.0,N,200009.0,광주,...,Y,1.주부,주부,3.0,22.0,NaN,NaN,5185.0,4597,5185.0
20601,2087,1,N,1,8,18063,40.0,N,201003.0,서울,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,5668,5669.0
20602,875,1,Y,1,49,0,NaN,N,200306.0,경남,...,Y,3.사무직,3차산업 종사자,2.0,16.0,NaN,NaN,5090.0,0,8373.0
20603,21483,1,N,2,30,31944,20.0,N,200306.0,경기,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,9361,8947.0
20604,21940,1,N,2,23,45972,20.0,N,200501.0,경기,...,N,NaN,NaN,0.0,0.0,NaN,NaN,0.0,11522,11484.0
20605,20356,1,N,1,15,27777,20.0,N,200306.0,경기,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,7960,7614.0
20606,17118,1,N,2,18,21527,20.0,N,200306.0,경기,...,N,NaN,NaN,0.0,0.0,NaN,NaN,NaN,7746,7746.0

In [5]:
len_of_cust_data = len(df_version_cust_data["CUST_ID"])
len_of_claim_data = len(df["CUST_ID"])

In [6]:
df.insert(0, "SIU_CUST_YN","")

In [ ]:
for i in range(len_of_claim_data):
    for j in range(len_of_cust_data):
        if df["CUST_ID"][i] == df_version_cust_data["CUST_ID"][j]:
            df.loc[i,("SIU_CUST_YN")] = df_version_cust_data["SIU_CUST_YN"][j]
        break